name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Copy google-services.json
      run: |
        cd app
        echo '${{ secrets.GOOGLE_SERVICES }}' >> google-services.json
        cd ..
    - name: Run tests
      run: ./gradlew check
