name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3
      - name: "Setup JDK 11"
        id: setup-java
        uses: actions/setup-java@v3.4.1
        with:
          distribution: 'zulu'
          java-version: "11"
      - name: Copy google-services.json
        run: |
          cd app
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d | zcat >> google-services.json
          cd ..
      - name: "./gradlew assemblePlaystoreDebug"
        uses: eskatos/gradle-command-action@v2
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        with:
          arguments: assemblePlaystoreDebug
